@font-face {
  font-family: "DotoBlack";
  src:
    url("/fonts/Doto/DotoBlack/DotoBlack.woff2") format("woff2"),
    url("/fonts/Doto/DotoBlack/DotoBlack.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
