---
import Layout from "../layouts/Layout.astro";
import JsMaster from "../components/JsMaster.astro";
import TypeWriter2 from "../components/TypeWriter2.astro";
import TypeWriter3 from "../components/TypeWriter3.astro";
import TypeWriter4 from "../components/TypeWriter4.astro";
import TypeWriter5 from "../components/TypeWriter5.astro";
import background from "../assets/background.svg";
import Harumasu from "../assets/harumasu.jpg";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="respectBackground">
    <JsMaster />
    <TypeWriter2 />
    <TypeWriter3 />
    <TypeWriter4 />
    <TypeWriter5 />
    <div class="insideShock">
      <TypeWriter5 />
    </div>
    <div class="insideShockRight">
      <TypeWriter5 />
    </div>
  </div>
</Layout>

<style>
  .insideShockRight {
    position: absolute;
    top: 10%;
    left: 40%;
    right: 10%;
    opacity: 0;
    animation: appear 1s 3s ease-in-out forwards;
  }
  .insideShock {
    position: absolute;
    inset: 20%;
    opacity: 0;
    animation: appear 1s 3s ease-in-out forwards;
  }
  @keyframes appear {
    from: {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .respectBackground {
    position: relative;
    overflow: clip;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--header-style-primaty);
  }
</style>
