---
import Layout from "../layouts/Layout.astro";

import JsPortfolioJonkler from "../components/JsPortfolioJonkler.astro";
import RealPortfolio from "../components/RealPortfolio.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div id="JsPortfolioJonkler">
    <JsPortfolioJonkler />
  </div>
  <div id="RealPortfolio">
    <RealPortfolio />
  </div>
</Layout>
<script>
  // This script runs in the browser
  const jsPortfolioJonkler = document.getElementById("JsPortfolioJonkler");
  const realPortfolio = document.getElementById("RealPortfolio");

  if (jsPortfolioJonkler) {
    setTimeout(() => {
      jsPortfolioJonkler.remove();
    }, 3300); // match your animation duration
  }
  if (realPortfolio) {
    setTimeout(() => {
      realPortfolio.style.display = "block";
    }, 4350); // match your animation duration
  }
</script>
<style>
  #RealPortfolio {
    display: none;
  }
</style>
