---

---
<div class="absoluteAnimeList">
    <div class="movingBlock block_1"/>
    <div class="movingBlock block_2"/>
    <div class="movingBlock block_3"/>
    <div class="movingBlock block_4"/>

</div>

<style>
    @keyframes animeListAppear {
        0% {
            background-color: transparent;
        }
        100% {
            background-color: red;
        }
    }

    .absoluteAnimeList {
        position: absolute;
        top: 50px;
        right: 100px;
        width: 150px;
        height: 150px;
        background-color: red;
        animation: animeListAppear 1s ease-in-out backwards;
        animation-delay: 2s;

        filter: drop-shadow(0 0 4px blue);
    }

    .movingBlock {
        /* filter: drop-shadow(0 0 4px blue); */
        position: absolute;
        background: rgba(255, 255, 255, 1);
        /* border: 1px solid hsl(239 79% 64%); */
        /* border: 1px solid hsl(239 79% 64%); */
        mix-blend-mode: hard-light;
        width: 50px;
        height: 50px;
        opacity: 1.5;
    }

    @keyframes fadeIn {
        from {
            opacity: 1.5;
        }
        to {
            opacity: 1;
            background-color: red;
        }
    }


    @keyframes blockAnimation {
        0%, 14.27% {
            transform: translate(-10%, -10%);
            opacity: 1;
        }

        14.28%, 28.55% {
            transform: translate(20%, 20%);
        }

        28.56%, 42.83% {
            transform: translate(10%, -20%);
        }

        42.84%, 57.11% {
            transform: translate(-10%, 30%);
        }

        57.12%, 71.39% {
            transform: translate(-30%, 15%);
        }

        /* ➕ новое состояние 1 */
        71.4%, 85.67% {
            transform: translate(25%, -15%);
        }

        /* ➕ новое состояние 2 */
        85.68%, 99.99% {
            transform: translate(-25%, 25%);
        }

        100% {
            transform: translate(-10%, -10%);
        }
    }

    @keyframes blockAnimationCross {
        0%, 14.27% {
            transform: translate(-10%, -10%);
        }
        /* A */
        14.28%, 28.55% {
            transform: translate(10%, -20%);
        }
        /* C */
        28.56%, 42.83% {
            transform: translate(20%, 20%);
        }
        /* B */
        42.84%, 57.11% {
            transform: translate(-25%, 25%);
        }
        /* G */
        57.12%, 71.39% {
            transform: translate(-10%, 30%);
        }
        /* D */
        71.4%, 85.67% {
            transform: translate(-30%, 15%);
        }
        /* E */
        85.68%, 99.99% {
            transform: translate(25%, -15%);
        }
        /* F */
        100% {
            transform: translate(-10%, -10%);
        }
    }

    @keyframes blockAnimationChaos {
        0%, 14.27% {
            transform: translate(25%, -15%);
        }
        /* F */
        14.28%, 28.55% {
            transform: translate(-10%, 30%);
        }
        /* D */
        28.56%, 42.83% {
            transform: translate(20%, 20%);
        }
        /* B */
        42.84%, 57.11% {
            transform: translate(-30%, 15%);
        }
        /* E */
        57.12%, 71.39% {
            transform: translate(-10%, -10%);
        }
        /* A */
        71.4%, 85.67% {
            transform: translate(-25%, 25%);
        }
        /* G */
        85.68%, 99.99% {
            transform: translate(10%, -20%);
        }
        /* C */
        100% {
            transform: translate(25%, -15%);
        }
    }

    @keyframes blockAnimationClockwise {
        0%, 14.27% {
            transform: translate(-10%, -10%);
        }
        /* A */
        14.28%, 28.55% {
            transform: translate(20%, 20%);
        }
        /* B */
        28.56%, 42.83% {
            transform: translate(-25%, 25%);
        }
        /* G */
        42.84%, 57.11% {
            transform: translate(-10%, 30%);
        }
        /* D */
        57.12%, 71.39% {
            transform: translate(-30%, 15%);
        }
        /* E */
        71.4%, 85.67% {
            transform: translate(10%, -20%);
        }
        /* C */
        85.68%, 99.99% {
            transform: translate(25%, -15%);
        }
        /* F */
        100% {
            transform: translate(-10%, -10%);
        }
    }

    .movingBlock:nth-child(1) {
        top: -10px;
        left: -20px;
        animation: blockAnimation 1.5s forwards,
        fadeIn 1s ease 1.5s forwards,
        blockAnimation 1.5s forwards 1.5s infinite;
        /* animation-timing-function: steps(5, end); */
    }

    .movingBlock:nth-child(2) {
        top: 10px;
        right: -10px;
        animation: blockAnimationChaos 1.5s forwards,
        fadeIn 1s ease 1.5s forwards,
        blockAnimationChaos 1.5s forwards 1.5s infinite;
    }

    .movingBlock:nth-child(3) {
        bottom: 10px;
        left: -10px;
        width: 80px;
        height: 80px;
        animation: blockAnimationCross 1.5s forwards,
        fadeIn 1s ease 1.5s forwards,
        blockAnimationCross 1.5s forwards 1.5s infinite;
    }

    .movingBlock:nth-child(4) {
        animation: blockAnimation 1.5s forwards,
        fadeIn 1s ease 1.5s forwards,
        blockAnimation 1.5s forwards 1.5s infinite;
        bottom: -10px;
        right: -10px;
        width: 80px;
        height: 80px;
    }
</style>
