---
import Header from "./Header.astro";
import Main from "./Main.astro";
---

<div class="background">
  <Header />
  <Main />
</div>

<style>
  .background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 1rem;
    transition:
      filter 600ms ease,
      -webkit-filter 600ms ease;
    /* optional hint for the browser */
    will-change: filter;
    animation: Monochromate 0.3s ease-in-out 1.5s;
  }
  @keyframes Monochromate {
    0% {
      filter: none;
    }
    50% {
      filter: grayscale(100%) saturate(0%) contrast(1.02) brightness(0.98);
    }
    100% {
      filter: none;
    }
  }
</style>
