<header class="header">
    <h1>
        Mykhailo Hrebennyk \\ Internet Hero \\
    </h1>
    <button class="respectButton">
        <a href="#">
            Why respect ME
        </a>
    </button>
</header>

<style>
.header {
        background-color: hsl(7, 51%, 84%);
        padding-bottom: 0.5rem;
    }
    .respectButton {
        display: block;
        background-color: hsl(299, 79%, 84%);
        padding-inline: 2rem;
        padding-block: 1rem;
        margin-inline: auto;
        box-shadow: 0.5rem 0.5rem 10px hsl(299, 79%, 84%);
    }
</style>
