<div class="importantFacts doto-black">
  <div class="importantFactsBackground"></div>
  <div class="impFactsContent">
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Top 12 sng po Javascriptu</p>
    <p>Global rank in partners game mode in CS 2021 🥇</p>
    <p>Honorable owning of 184/200 math score in ukraine national exam💪💪💪</p>
    <p>Top 18 LEGENDARY BAI MO mainer in strinova in 26SP1 season💪</p>
    <p>Arguably worst programmer slop-like portfolio so far</p>
    <p>IT ONLY STARTS.. to be continued"</p>
  </div>
</div>
<style>
  .importantFacts {
    font-size: 1.25rem;
    position: relative;
    flex: 1;
    max-width: calc(100vw - 150px);
  }

  .doto-black {
    font-family: "DotoBlack", sans-serif;
  }
  .importantFactsBackground {
    position: sticky;
    top: 132px;
    height: 100vh;
    margin-top: 2rem;
    background: hsl(300 80% 80%);
    box-shadow: 0 0 2rem fuchsia;
  }

  .impFactsContent {
    position: relative;
    margin-top: -100vh; /* key difference */
    padding: 1rem;
    z-index: 1;
  }

  @media screen {
  }
</style>
