---
import AnimeList from "./AnimeList.astro";
import ImportantFacts from "./ImportantFacts.astro";
---

<div class="main_wrapper">
  <main class="main">
    <div class="main_text">
      <h2>Most important facts</h2>
      <span class="main_text_decore_1">
        <h2>Most important facts</h2>
      </span>
      <span class="main_text_decore_2">
        <h2>Most important facts</h2>
      </span>
    </div>
  </main>
  <div class="content">
    <ImportantFacts />
    <AnimeList />
  </div>
</div>

<style>
  h2 {
    margin-block: 0;
  }
  .content {
    padding-inline: 2rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 100vh;
  }

  /* .main-upper { */
  /*   margin-inline: 0.5rem; */
  /*   margin-block: 1rem; */
  /*   background-color: hsl(5, 0%, 0%); */
  /* } */
  .main_wrapper {
    position: relative;
    flex: 1;
    margin-top: 1rem;
      background-color: black;
    /* background: linear-gradient( */
    /*   180deg, */
    /*   #ffffff 0%, */
    /*   /* #e0e0e1.50%, */ /* #808081.50%, */ #000000 100px */
    /* ); */
  }

  .main {
    position: sticky;
    z-index: 20;
    top: 0;
    height: 100px;

    /* margin-inline: 0.5rem; */
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      /* #e0e0e1.50%, */ /* #808081.50%, */ fuchsia 100px
    );
  }

  .main_text {
    margin-inline: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    position: relative;
    color: hsl(5, 0%, 100%);
  }

  @media (max-width: 430px) {
    .main_text {
      font-size: clamp(1rem, 5.5vw, 1.5rem);
    }
  }

  @media (max-width: 380px) {
    .main_text {
      font-size: clamp(1rem, 5vw, 1.5rem);
    }
  }

  .main_text_decore_1 {
    position: absolute;
    width: 100%;
    /* white-space: nowrap; */
    top: 0;
    right: 50%;
    color: hsl(5, 0%, 0%);
    transform: translateX(50%) scaleY(0.8) scaleX(0.985);
    /* transform: translateY(-60); */
  }

  .main_text_decore_2 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 50%;
    color: hsl(5, 0%, 35%);
    transform: translateY(50%) scaleY(0.5) translateX(50%) scaleX(0.985);

    animation: subtleHorizontalShift 6s ease-in-out infinite;
    /* transform: translateY(-60); */
  }
  @keyframes subtleHorizontalShift {
    0% {
      transform: translateY(50%) scaleY(0.5) translateX(50%) scaleX(0.985)
        translateX(0);
    }
    25% {
      transform: translateY(50%) scaleY(0.5) translateX(50%) scaleX(0.985)
        translateX(-0.3px);
    }
    50% {
      transform: translateY(50%) scaleY(0.5) translateX(50%) scaleX(0.985)
        translateX(0.3px);
    }
    75% {
      transform: translateY(50%) scaleY(0.5) translateX(50%) scaleX(0.985)
        translateX(-0.2px);
    }
    100% {
      transform: translateY(50%) scaleY(0.5) translateX(50%) scaleX(0.985)
        translateX(0);
    }
  }
</style>
