<script>
  const btn = document.getElementById("redButton");
  const pageDarking = document.getElementById("pageDarking");
  // Cast to HTMLVideoElement
  const buttonVideo = document.getElementById(
    "buttonVideo",
  ) as HTMLVideoElement | null;

  btn?.addEventListener("click", () => {
    if (buttonVideo && pageDarking) {
      buttonVideo.style.display = "block";
      pageDarking.style.display = "block";
      buttonVideo.currentTime = 0; // Reset to start
      buttonVideo.play().catch((err) => {
        console.error("Video play failed:", err);
      });
    }
  });
  buttonVideo?.addEventListener("ended", () => {
    console.log("Video has finished playing!");
    buttonVideo.style.display = "none"; // optional: hide video when done
  });
</script>
<div class="realPortfolio">
  <div class="contentBackground">
  <div id="pageDarking"></div>
    <div class="content">
      <div class="button">
        <div class="buttonBackground">
          <div class="darkButtonBackground">
            <div class="buttonBackground dark3DBack"></div>
            <div class="greenButtonField">
              <div class="redButton" id="redButton"></div>
              <div class="redButton redButtonDark"></div>
            </div>
          </div>
        </div>
        <video id="buttonVideo" muted playsinline>
          <source src="/button.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>
<style>
  #pageDarking {
    pointer-events: none;
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;

    /* Create circular hole */
    /* -webkit-mask-image: radial-gradient( */
    /*   circle 300px at 50% 40%, */
    /*   rgba(0, 0, 0, 0) 0%, */
    /*   rgba(0, 0, 0, 1) 100% */
    /* ); */
    /* mask-image: radial-gradient( */
    /*   circle 300px 50% 40%, */
    /*   rgba(0, 0, 0, 0) 0%, */
    /*   rgba(0, 0, 0, 1) 100% */
    /* ); */
    /* -webkit-mask-repeat: no-repeat; */
    /* mask-repeat: no-repeat; */
    /* -webkit-mask-position: center; */
    /* mask-position: center; */
    z-index: 1;
  }
  #buttonVideo {
    z-index: 10;
    display: none;
    position: absolute;
    left: -88%;
    /* right: -30%; */
    top: 0;
    width: 400%;
    height: 170%;

    object-fit: cover;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
  }
  .button {
    position: relative;
    margin: 3rem;
    width: fit-content;
    height: fit-content;
  }

  .redButton {
    width: 75px;
    height: 75px;
    background-color: hsl(7, 81%, 43%);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .redButton:hover {
    filter: brightness(0.95);
  }
  .redButtonDark {
    top: calc(50% + 5px);
    z-index: 2;
    filter: brightness(0.7);
  }
  .redButtonDark:hover {
    filter: brightness(0.7);
  }

  .darkButtonBackground {
    overflow: clip;
    border-radius: 3px;
    width: 220px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(114, 21%, 26%);
  }
  .greenButtonField {
    z-index: 3;
    border-radius: 3px;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(114, 21%, 26%);
  }
  .buttonBackground {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.9);
    z-index: 2;
    width: 300px;
    height: 400px;
    background-image: linear-gradient(
      45deg,
      hsl(311, 15%, 36%) 0%,
      hsl(311, 15%, 36%) 11.11%,
      hsl(60, 97%, 66%) 11.11%,
      hsl(60, 97%, 66%) 22.22%,
      hsl(311, 15%, 36%) 22.22%,
      hsl(311, 15%, 36%) 33.33%,
      hsl(60, 97%, 66%) 33.33%,
      hsl(60, 97%, 66%) 44.44%,
      hsl(311, 15%, 36%) 44.44%,
      hsl(311, 15%, 36%) 55.55%,
      hsl(60, 97%, 66%) 55.55%,
      hsl(60, 97%, 66%) 66.66%,
      hsl(311, 15%, 36%) 66.66%,
      hsl(311, 15%, 36%) 77.77%,
      hsl(60, 97%, 66%) 77.77%,
      hsl(60, 97%, 66%) 88.88%,
      hsl(311, 15%, 36%) 88.88%,
      hsl(311, 15%, 36%) 100%
    );
  }
  .realPortfolio {
    background-color: orange;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  .contentBackground {
    background-color: var(--purple);
    min-height: 100vh;
    max-width: 56rem;
    width: 100vw;
    opacity: 0;
    animation: appear 0.1s 0.5s forwards;
  }
  .content {
    z-index: 2;
    position: relative;
    opacity: 0;
    animation: appear 0.1s 0.7s forwards;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dark3DBack {
    filter: brightness(0.7);
    z-index: 2;
    position: absolute;
    box-shadow: none;
    width: 300px;
    height: 400px;
  }
</style>
